Repository Team-inglo/Giggle-Web, pull requests merged in 2025-07, with the labels that each got.

#441 Featuer/439 toast 컴포넌트 추가
  index.html
  src/App.tsx
  src/__tests__/setup.ts
  src/assets/icons/CheckWithFilledIcon.svg
  src/assets/icons/InfoWithFillIcon.svg
  src/assets/icons/WarningWithFillIcon.svg
  src/components/Common/Toast.test.tsx
  src/components/Common/Toast.tsx
  src/hooks/useToast.ts
  src/store/toast.ts
Labels: ✨ Feature, 🎨 Html&CSS, ✅ Test

#455 [Fix/453] 커리어 검색 페이지 수정사항
  src/constants/postSearch.ts
  src/pages/PostSearch/PostSearchPage.tsx
Labels: 🐞 BugFix, 🎨 Html&CSS

#460 Merge to Main: 7월 2-3주차
  index.html
  src/components/ApplicationDetail/ApplicationDetailStep1.tsx
  src/components/ApplicationDetail/ApplicationDetailStep2.tsx
  src/components/ApplicationDetail/ApplicationDetailStep3.tsx
  src/components/ApplicationDetail/ApplicationDetailStep4.tsx
  src/components/ApplicationDetail/ApplicationDetailStep5.tsx
  src/components/ApplicationDetail/ApplicationDetailStep6.tsx
  src/components/ApplicationDetail/ApplicationDetailStep7.tsx
  src/components/ApplicationDetail/ApplicationDetailStepEtc.tsx
  src/components/Auth/EmailVerifier.tsx
  src/components/Common/BottomSheet.tsx
  src/components/Common/Button.test.tsx
  src/components/Common/Button.tsx
  src/components/Common/CompleteButtonModal.tsx
  src/components/Common/VisaSelectBottomSheet.tsx
  src/components/Document/write/ValidatedSubmitButton.tsx
  src/components/Employer/ApplicantDetail/EmployerApplicantDetailButton.tsx
  src/components/Employer/ApplicantResumeAccept/EmployerApplicantResumeButton.tsx
  src/components/Employer/EmployeeSearch/EmployerEmployeeSearchFilterBottomSheet.tsx
  src/components/Employer/PostCreate/Step1.tsx
  src/components/Employer/PostCreate/Step2.tsx
  src/components/Employer/PostCreate/Step3.tsx
  src/components/Employer/PostCreate/Step4.tsx
  src/components/Employer/PostCreate/Step5.tsx
  src/components/Employer/PostDetail/EmployerPostDetailButton.tsx
  src/components/Employer/WriteDocument/EmployerLaborContractForm.tsx
  src/components/Employer/WriteDocument/EmployerPartTimePermitForm.tsx
  src/components/Information/AddressStep.tsx
  src/components/Information/InformationStep.tsx
  src/components/Information/LanguageStep.tsx
  src/components/ManageResume/BookmarkContactPanel.test.tsx
  src/components/ManageResume/BookmarkContactPanel.tsx
  src/components/PostApply/PostApplyButton.tsx
  src/components/PostSearchFilter/PostSearchFilterBottomSheet.tsx
  src/components/PostSearchFilter/PostSearchFilterButtons.tsx
  src/components/Profile/Password/CurrentPasswordStep.tsx
  src/components/Profile/Password/NewPasswordStep.tsx
  src/components/Profile/Password/SuccessStep.tsx
  src/components/Signup/VerificationSuccessful.tsx
  src/components/WriteDocuments/IntegratedApplicationWriteForm.tsx
  src/components/WriteDocuments/LaborContractWriteForm.tsx
  src/components/WriteDocuments/PartTimePermitWriteForm.tsx
  src/constants/components.ts
  src/pages/ApplicationDetail/ApplicationDetailSchoolPage.tsx
  src/pages/ApplicationDocuments/ApplicationDocumentsPage.tsx
  src/pages/ApplicationResult/ApplicationResultPage.tsx
  src/pages/EditProfile/EditProfilePage.tsx
  src/pages/Employer/EditProfile/EmployerEditProfilePage.tsx
  src/pages/LanguageSetting/LanguageSettingPage.tsx
  src/pages/Resume/IntroductionPage.tsx
  src/pages/Resume/WorkPreferencePage.tsx
  src/pages/WriteDocuments/RequestModifyPage.tsx
Labels: 🐞 BugFix, 🎨 Html&CSS

#465 Merge to main : 7월 4주차 스프린트
  package.json
  pnpm-lock.yaml
  src/components/Common/BottomSheet.test.tsx
  src/components/Common/BottomSheet.tsx
  src/components/Common/Dropdown.tsx
  src/components/Common/TransitionRoutes.tsx
  src/constants/pageTransition.ts
  src/docs/PageTransitionGuide.md
  src/hooks/useNavigationDirection.ts
  src/index.css
  src/router.tsx
  src/styles/pageTransition.css
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&CSS
